<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Insert New Or Edit Destination</title>
</head>
<body>

	<form th:object="${newDestination}" th:action="@{/update/{id}(id=${newDestination.id})}" method='POST'>
	
		Name: <input name="name" size="20" th:field="*{name}"> <br>
		Type: <input name="type" size="20" th:field="*{type}"> <br>
		Price: <input name="price" size="20" th:field="*{price}"> <br>
		Street Address: <input name="location.streetAddress" size="20" th:field="*{location.streetAddress}"> <br>
		City: <input name="location.city" size="20" th:field="*{location.city}"> <br>
		State: <input name="location.state" size="20" th:field="*{location.state}"> <br>
		Country: <input name="location.country" size="20" th:field="*{location.country}"> <br>
		
		<input name="submit" type="submit" value="submit">
	
	</form>

	<a href="viewAll">View All Destinations</a>

</body>
</html>